{% extends 'base.html' %}

{% block content %}
  <h2>Upload</h2>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
  <button type="submit" class="btn btn-primary">Upload File</button>
  </form>
  <h3>Uploaded Files</h3>
  <table class="table mb-0">
    <thread>
      <tr>
        <th>Cover</th>
        <th>File Name</th>
        <th>Delete</th>
        <th>Convert</th>
      <tr>
    </thread>
  <body>
    {% for uploaded_file in uploaded_files %}
      <tr>
        <td>
          <img src="{{ uploaded_file.file.url }}" alt="{{ uploaded_file.file_name }}" style="width: 100px">
        </td>
        <td>{{ uploaded_file.file_name }}</td>
        <td>
          <form method="post" action="{% url delete_JpegToPdf uploaded_file.pk %}">
            {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        <td>
        </td>



{% endblock %}
